// https://drissas.com/ionic-whatsapp/
// https://drissas.com/ionic-design/
// https://stackoverflow.com/questions/35623280/ionic-ion-item-text-is-not-vertically-centered-when-ion-icon-is-bigger?answertab=votes#tab-top
.flex_box {
  display: flex;
  justify-content: space-between;
}
ion-note {
  font-size: 14px;
}
.icon {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  padding-right: 4px;
}
span {
  display: inline-block;
  vertical-align: middle;
}
.grey {
  color: #5a5a5a;
}
.red {
  color: red!important;
}
