ion-slide {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  text-align: justify;
}
img {
  max-width: 50vw;
  max-height: 50vh;
  overflow: hidden;
}
p {
  padding: 1em;
}
ion-button {
  position: absolute;
  bottom: 10vh;
}
